//Primary colors

$main-bg-color: #014e56;
$main-text-color: #ffffff;
$text-decor-color: #f67e7e;

//-----------------------------------Secondary colors

$build-bg-color: #012f34;
$succes-bg-color: #004047;
$main-decor-color: #79c8c7;
$main-btn-text-color: #002529;
