//Primary colors

$main-bg-color:#014E56;
$main-text-color:#FFFFFF;
$text-decor-color:#F67E7E;

//-----------------------------------Secondary colors

$hero-bg-color: #012F34;
$main-decor-color:#79C8C7;
$main-btn-text-color:#002529;
