.build {
	position: relative;
	padding-top: 198px;
	padding-bottom: 140px;
	background-image: url('../images/build-bg-image1.svg');
	background-size: 300px 244px;
	background-position: calc(50% + 720px) bottom;
	background-repeat: no-repeat;
	background-color: $build-bg-color;
}

.build__inner {
	@include display-flex-starter;
	align-items: flex-start;
}

.build__allbox {
	@include display-flex-starter;
	align-items: flex-start;
	width: 100%;
}

.build__titlebox {
	max-width: 445px;
	width: 100%;
	margin-right: 220px;
}

.build__title {
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	color: $main-text-color;

	&::before {
		position: absolute;
		top: -58px;
		left: 0;
		display: inline-block;
		width: 50px;
		height: 4px;
		background-color: $text-decor-color;
		content: '';
	}
}

.build__infobox {
	max-width: 445px;
	width: 100%;
}

.build__list {
	@include correct-list;
}

.build__item {
	position: relative;
	margin-top: 32px;

	&:nth-child(1) {
		margin-top: 0;
	}

	&::before {
		position: absolute;
		z-index: 1000;
		top: 0;
		left: -95px;
		display: inline-block;
		width: 72px;
		height: 72px;
		background-image: url('../images/build-list-image1.svg');
		content: '';
	}

	&:nth-child(2)::before {
		background-image: url('../images/build-list-image2.svg');
	}

	&:nth-child(3)::before {
		background-image: url('../images/build-list-image3.svg');
	}
}

.build__subtitle {
	display: inline-block;
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	color: $text-decor-color;
}

.build__text {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	color: $main-text-color;
	mix-blend-mode: normal;
	opacity: 0.8;
}
//--------------------------------------------------------Tablet---------------------------------------------------------------//
@media only screen and (max-width: 768px) {
	.build {
		padding-top: 136px;
		padding-bottom: 100px;
		background-position: right top;
	}

	.build__inner {
		justify-content: center;
	}

	.build__allbox {
		flex-direction: column;
		max-width: 573px;
		width: 100%;
	}

	.build__titlebox {
		margin-right: 0;
		margin-bottom: 64px;

		.build__title {
			font-size: 32px;
			line-height: 32px;

			&::before {
				top: -32px;
			}
		}
	}

	.build__infobox {
		max-width: 478px;
		margin-left: 95px;
		width: 100%;
	}
}

//--------------------------------------------------------Mobile---------------------------------------------------------------//
@media only screen and (max-width: 576px) {
	.build {
		padding-top: 100px;
		padding-bottom: 64px;
		background-position: calc(50% + 234px) top;
	}

	.build__inner {
		justify-content: center;
	}

	.build__allbox {
		max-width: 100%;
	}

	.build__titlebox {
		max-width: 240px;
		width: 100%;
		margin-bottom: 56px;
	}

	.build__infobox {
		@include display-flex-starter;
		justify-content: center;
		margin-left: 0;
		max-width: 100%;
	}

	.build__list {
		max-width: 327px;
	}

	.build__item {
		padding-top: 88px;
		margin-top: 48px;
		text-align: center;

		&:nth-child(1) {
			margin-top: 0;
		}

		&::before {
			top: 0;
			left: calc(50% - 36px);
		}
	}
}
